name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'zulu'
          cache: 'gradle'

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew

      - name: Build API
        run: ./gradlew taboolibBuildApi -Pbuild=./build

      - name: Build
        run: ./gradlew build -Pbuild=./build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Orryx
          path: build/*.jar
